{% extends 'base.html.twig' %}

{% block title %}Editions des catégories{% endblock %}

{% block body %}
    <h1>Editer les catégories</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('category_index') }}"><i class="fas fa-arrow-left"></i> Retour à la liste</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
