{% extends 'base.html.twig' %}

{% block title %}{% trans %}New category{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new category{% endtrans %}</h1>

    {{ include('category/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('category_index') }}"><i class="fas fa-arrow-left"></i>{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
